requests~=2.32.3
bs4
fastapi~=0.115.5
uvicorn~=0.32.1
google-apps-meet
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
pydantic~=2.10.2
python-dotenv~=1.0.1
PyJWT~=2.10.1
openai~=1.56.0
sqlalchemy~=2.0.36
sqlmodel~=0.0.22
pymysql
python-multipart
boto3
starlette~=0.41.3
pip~=24.3.1
distro~=1.9.0
wheel~=0.43.0
